html {
  /*position: relative;*/
  min-height: 100%;
}


/*BOOTSTRAP NAV TOP SPACE */
body > .container-fluid {
	padding-top: 90px;
	padding-bottom: 90px;
}

/*BOOTSTRAP STICKY FOOTER
http://v4-alpha.getbootstrap.com/examples/sticky-footer/*/
/*.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}*/

/* NAV USER LINK */
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
/*on enleve le soulignement au survol du lien de l'avatar*/
.chip .chipLink{
    text-decoration: none;
}
/*<---*/

/*FONT SIZE*/
.em-2 {
    font-size: 2em;
}

.em-3 {
    font-size: 3em;
}
/*<---*/

/* MODAL ANNONCES ALERTES */
.modalAnnonces-header{
    background-color: transparent;
    border-bottom: none;
}

.modal-open .modal.modal-center {
    display: flex!important;
    align-items: center!important;
}

.modal-dialog {
    flex-grow: 1;
}
/*<---*/
